 html {
            background: radial-gradient(circle, white, black);
            position: relative;
        }

        #container {
            background: linear-gradient(white, black);
            border-style: solid;
            border-radius: 10px;
            margin: 300px 300px 300px 300px;
        }

        #buttons {
            margin-top: 100px;
            margin-bottom: 20px;
            margin-left: 150px;

        }

        #starter {
            font-size: 10px;
            border-radius: 10px;
            font-family: sans-serif;
            color: chartreuse;
            background-color: darkolivegreen;
        }

        #starter:hover {
            font-size: 25px;
            border-radius: 15px;
            font-family: fantasy;
            transition: ease 0.5sec;
        }

        #ender {
            font-size: 10px;
            border-radius: 10px;
            font-family: sans-serif;
            color: black;
            background-color: darkred;
        }

        #ender:hover {
            font-size: 35px;
            border-radius: 25px;
            font-family: fantasy;
            transition: all 0.5sec;
        }

        .chro {
            font-size: 30px;
            color: darkkhaki;
            transition: all 0.2sec;
            margin-left: 210px;
        }

        .chro:hover {
            font-size: 50px;
            color: black;
            transform-style: flat;
            /*             transition: ease;*/
            transition-duration: 0.5sec;
            transition-property: all;
            cursor: pointer;

        }
